<aside class="sb">
    <div class="sb__title">Menú</div>
  
    <nav class="sb__nav">
      <a routerLink="/clientes" routerLinkActive="active" (click)="navigate.emit()">Clientes</a>
      <a routerLink="/cuentas" routerLinkActive="active" (click)="navigate.emit()">Cuentas</a>
      <a routerLink="/movimientos" routerLinkActive="active" (click)="navigate.emit()">Movimientos</a>
      <a routerLink="/reportes" routerLinkActive="active" (click)="navigate.emit()">Reportes</a>
    </nav>
  </aside>
  